*{
    margin: 0;
    padding: 0;
   overflow-x: hidden;
}

/* body{
    color: #fff;
} */

#header-section{
    text-align: center;
    line-height: 1.5;
    color: #fff;
}

.container-fluid{
    background: rgb(41, 161, 111);
    padding: 3% 15% 100px;
 
}

/* .text-body{
    color: #fff;
} */

.hedrr{
    line-height: 2;
}

h1{
    font-family: 'Inter', sans-serif;
    margin: 5% auto 3%;
    font-size: 4rem;
/* color: #fff; */
}

.ss{
   font-size: 2rem;
   margin: 0 auto 3%;
}

h3{
    display: inline;
    font-family: 'Montserrat', sans-serif;
    margin: 0 5px;
  }

input{
    height: 47px;
    width: 25%;
    padding: 10px 10px;
    vertical-align: middle;
}

.formm{
  margin: 0 5px;
}

.para{
    width: 63%;
   margin: 20px auto;
}

.shopify-img{
    position: absolute;
    right: 38%;
    bottom: -18%;
}

/* middle section */

#middle-area{
padding: 3%;

}

.vv{
    color: rgb(41, 161, 111);
}

.aw{
    color: #9f9fa3;
}

h4{
   margin: 5% auto;
}
/* hr section */
hr{
    width: 70%;
   margin-left: 15%;
   
}

.dwn-prt{
    text-align: center;
    margin: 50px auto;
}

.nn{
    margin: 50px auto;
    background-color:rgb(41, 161, 111);
    padding: 10px 30px;
    border: hidden;
}